@media only screen and (max-width: 500px) {
    .wrapper {
      padding-top: 1000px;
    }
    body {
      height: 200vh;
     }
}

@media only screen and (max-width: 400px) {
    .wrapper {
      padding-top: 1200px;
    }
    body {
      height: 200vh;
     }
}