@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
 :root {
     --background-color: #141414;
     --text-color: #fff;
}
 body {
     margin: auto;
     padding: 0;
     background-color: var(--background-color);
     height: 100vh;
     overflow: auto;
     
}
 .wrapper {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--text-color);
     font-family: 'Poppins', sans-serif;
     justify-content: center;
    
    
  
}




 #title {
    /*/
    font-size: 50px;
    /*/
 
    
     text-decoration: none;
     background: linear-gradient(to right, rgb(85, 85, 85) 50%, #ffffff 50%, #e8e8e8);
     background-size: 200%;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 1s ease-out;
     animation: zoomIn 1s, title 2s;
     
     animation-fill-mode: forwards;
     color: #CCC;
}
 #title:hover {
     background-position: -100%;
}

@keyframes title {
  0% {
   
      background-position: 0%;
 }
  100% {
   
      background-position: -100%;
 }
}



 @keyframes zoomIn {
     0% {
         font-size: 40px;
        
    }
     100% {
         font-size: 70px;
         
    }
}
 #subtitle {
     font-size: 20px;
     color: #CCC;
     animation: zoomIn2 1s ;
     animation-fill-mode: forwards;

}

#about-button {
  background-color: transparent;
  color: #CCC;
  border-color: transparent;
  border-style: solid;
  animation: zoomIn3 1s ;
  font-size: 30px;
  text-decoration: none;
     background: linear-gradient(to right, #CCC 50%, #343434 50%, #eeeeee);
     background-size: 200%;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 1s ease-out;
}



@keyframes zoomIn3 {
    0% {
        font-size: 20px;
   }
    100% {
        font-size: 30px;
   }
}



#subtitle img {
    width: 20px;
}

@keyframes zoomIn2 {
    0% {
        scale: 0.5;
   }
    100% {
        scale: 1;
   }
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    background: linear-gradient(rgb(199, 199, 199), rgb(38, 38, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgb(199, 199, 199), rgb(38, 38, 38));
    transform-origin: bottom left;
    transition: transform 1s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    font-family: 'Poppins', sans-serif;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    background: linear-gradient(to right, #CCC 50%, #ff58fc 50%, #a22ecc);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
    animation-fill-mode: forwards;
  }


  #github {
    position: absolute;
    bottom: 70px;
    top: auto;
   
  }
  #github img {
    width: 30%;
    transition: 1s;
  }

  #github img:hover {
     width: 40%;
  }

  #notes-image {
    border-radius: 30px;
  }

  h1 {
    font-weight: 400;
    font-size: 70px;
  }






  #link {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  /* When you mouse over the navigation links, change their color */
  #link:hover {
    linear-gradient: (rgb(199, 199, 199), rgb(38, 38, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar .closebtn:hover {
    color: #f1f1f1;
   
    font-size: 41px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: 0.5s;
  }
  
  .openbtn:hover {
    color: white;
    font-size: 50px;
  }


  .hover-underline-animation2 {
    display: inline-block;
    position: relative;
    background: linear-gradient(rgb(199, 199, 199), rgb(38, 38, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }

  #sweden {
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(136, 136, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  

  .hover-underline-animation2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgb(199, 199, 199), rgb(38, 38, 38));
    transform-origin: bottom left;
    transition: transform 1s ease-out;
  }
  
  .hover-underline-animation2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .skills h2 {
   font-weight: 400;
   letter-spacing: 1px;
   margin-top: 40px;
   margin-bottom: 5px;
   color: #fff;
   font-size: 16px;
  }


  .progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
  }

  .progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
   /*/ background: red;/*/
  }

  .progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #2b2b2b;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .html {
    background: 	linear-gradient(#f06529, #ba4513);

    animation: html 1s linear forwards;
  }

  .unity {
    background: linear-gradient(#b83c82, #86285e);
    animation: unity 1s linear forwards;
  }

  .css {
    background: linear-gradient(#2965f1, #264de4);
    animation: css 1s linear forwards;
  }

  .javascript {
    background: linear-gradient(#f7df1e, #b8a515);
    animation: js 1s linear forwards;
  }

  .html span {
    border: 2px solid #f06529;
   
  }

  
  .javascript span {
    border: 2px solid #f7df1e;

  }

  
  .css span {
    border: 2px solid #2965f1;
 
  }

  
  .unity span {
    border: 2px solid #b83c82;
   
  }

  @keyframes html {
    100%{
      width: 86%;
    }
  }
  @keyframes css {
    100%{
      width: 70%;
    }
  }
  @keyframes js {
    100%{
      width: 65%;
    }
  }
  @keyframes unity {
    100%{
      width: 75%;
    }
  }

  .skills h1{
     font-weight: 400;
     color: #CCC;
     font-size: 40px;
     animation: zoomIn4 1s;
     animation-fill-mode: forwards;
  }

  @keyframes zoomIn4 {
    0% {
        font-size: 25px;
   }
    100% {
        font-size: 40px;
   }
}



#subtitle a {
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(136, 136, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}



.glitch {
  font-size: 8.125em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
  animation: zoomIn6 1s;
}
.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.glitch:after {
  color: rgb(38, 38, 38);
  z-index: -2;
}
.glitch:before {
  color: rgb(199, 199, 199);
  z-index: -1;
}
.glitch:hover:before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}
@media only screen and (max-width: 1400px) {
  .glitch {
    font-size: 5em;
    animation: zoomIn7 1s;
 }
}

@keyframes zoomIn6 {
  0% {
    font-size: 6.5em;
}
100% {
    font-size: 8.125em;
}
}

@keyframes zoomIn7 {
  0% {
    font-size: 3.5em;
}
100% {
    font-size: 5em;
}
}
@keyframes glitch {
  0% {
    transform: translate(0);
 }
  20% {
    transform: translate(-5px, 5px);
 }
  40% {
    transform: translate(-5px, -5px);
 }
  60% {
    transform: translate(5px, 5px);
 }
  80% {
    transform: translate(5px, -5px);
 }
  to {
    transform: translate(0);
 }
}
