.wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    line-height: 1.6;
    box-sizing: border-box;
  }

#banner{
    max-width: 30vw;
}

@media only screen and (max-width: 1200px) {
    #banner{
        max-width: 50vw;
    }
}


#logo {
    width: 100px;
}

.text {
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .text {
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

h2{
    text-decoration: underline;
}