@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
 :root {
     --background-color: #141414;
     --text-color: #fff;
}
 body {
     margin: auto;
     padding: 0;
     background-color: var(--background-color);
     height: 100vh;
     overflow: auto;
     
}
 .wrapper {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--text-color);
     font-family: 'Poppins', sans-serif;
     justify-content: center;
}

.glitch {
    font-size: 8.125em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
    animation: zoomIn6 1s;
  }
  .glitch:before, .glitch:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  .glitch:after {
    color: rgb(38, 38, 38);
    z-index: -2;
  }
  .glitch:before {
    color: rgb(199, 199, 199);
    z-index: -1;
  }
  .glitch:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
  }
  .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
  }

  @media only screen and (max-width: 1400px) {
    .glitch {
      font-size: 5em;
      animation: zoomIn7 1s;
   }
  }